@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary: 248, 248, 248;
  --secondary: 8, 9, 2;
  --tertiary: 102, 46, 255;
  --tertiary2: 255, 104, 104;
  --text: 225, 225, 225;
}
.dark {
  --primary: 23, 23, 23;
  --text: 33, 33, 33;
  --secondary: 255, 255, 255;
  --tertiary: 102, 46, 255;
  --tertiary2: 255, 104, 104;
}
