@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --primary: 255, 255, 255;
  --primary2: 225, 225, 225;
  --secondary: 0, 0, 0;
  --tertiary: 191, 15, 255;
  --tertiary2: 255, 104, 104;
}
.dark {
  --primary: 23, 23, 23;
  --primary2: 33, 33, 33;
  --secondary: 255, 255, 255;
  --tertiary: 191, 15, 255;
  --tertiary2: 255, 104, 104;
}
